* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}
body{
    overflow-x:hidden;
}
.container{
    /*padding-left: 1vw;
    padding-right: 3vh;*/
   
    width:100vw;
    background-color: rgb(255, 255, 255);
    overflow:hidden;
}

#img_bgd{
    height:70vh;
    width:100vw;
    background:
    linear-gradient( to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    ),url(../assets/hamburg.jpg);
    background-position: center;
    background-size: 100vw;
    display:flex;
    justify-content: left;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_banner{
    padding-left: 10vw;
    width: 50vw;
}
#img_title{
    font-size: 50px;
    color:white;
    padding-bottom: 3vh;
}
#img_slogan{
    font-size: 18px;
    color:white;
    
}

#who_we_are{
    background:white;
    padding-top: 20vh;
    padding-left:10vw;
    padding-right: 10vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#who_text{
    width:40vw;
    padding-right: 10vw;
}
#who_we_are #who_title{
    font-size:40px;
    padding-bottom:3vh;
}

#who_img{
    width:55vw;
    height:50vh;
    background-color: black;
    background-image: url(../assets/phone.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 15vw;
}
#who_prg{
    font-size: 18px;
}
#what_we_do{
    background:white;
    padding-top: 20vh;
    padding-left:0vw;
    padding-right: 10vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#what_text{
    width: 60%;
    padding-left: vw;
    text-align: center;
}

#what_title{
    font-size:40px;
    padding-bottom:3vh;
}
#what_prg{
    font-size: 18px;
}

#our_ser{
    display:flex;
    justify-content: center;
    width:100%;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
}

#our_ser a{
    
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(38, 73, 110);
    color:white;
    transition: 0.5s;
    text-decoration: none;
}
#our_ser a:hover{
    background-color: rgb(71, 115, 163);
}