@media only screen and (max-width:800px){
    #img_bgd{
        height:100vh;
        background-position: left;
    }
    #img_banner{
        width:70vw;
    }
    #who_we_are{
        width:100vw;
        flex-wrap: wrap;
        padding-left:0;
        padding-top: 15vh;
    }
    #who_text{
        width:100vw;
        padding-right: 10vw;
        padding-bottom: 10vh;
        padding-left:10vw
    }
    #who_img{
        width:100vw;
        height:40vh;
        background-color: black;
        background-image: url(../assets/phone.jpg);
        background-position: center;
        background-size: cover;
        margin-right: 0vw;
    }
    #what_we_do{
        background:white;
        padding-top: 15vh;
        padding-left:0vw;
        padding-right: 0vw;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #what_text{
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: left;
    }
    #our_ser{
        display:flex;
        justify-content: left;
        width:100%;
        align-items: center;
        text-align: center;
        padding-top: 5vh;
        padding-left:10vw;
        padding-right:10vw;
    }
    #lets_talk{
        width:100vw;
        flex-wrap: wrap;
        padding-left:0;
        padding-top: 5vh;
        padding-bottom: 0;
    }
    #lets_text{
        width:100vw;
        padding-right: 10vw;
        padding-bottom: 10vh;
        padding-left:10vw
    }
    #lets_img{
        width:100vw;
        height:40vh;
        background-color: black;
        background-image: url(../assets/hand-shake.png);
        background-position: center;
        background-size: cover;
        margin-right: 0vw;
    }
    #lets_prg{
        padding-right: 0vw;
    }

    #our_title{
        font-size:40px;
        text-align: left;
        padding-left:10vw;
    }
    #our_banner{
        flex-wrap:wrap
    }
    #our_img{
        width:100vw;
        padding-bottom:5vh;
    }
    #our_text{
        width:100vw;
        padding-left: 10vw;
        padding-right:10vw;
    }
}