@media only screen and (max-width:800px){
    #img_bgd{
        height:100vh;
        background-position: left;
    }
    #img_banner{
        width:70vw;
    }
    #who_we_are{
        width:100vw;
        flex-wrap: wrap;
        padding-left:0;
        padding-top: 15vh;
    }
    #who_text{
        width:100vw;
        padding-right: 10vw;
        padding-bottom: 10vh;
        padding-left:10vw
    }
    #who_img{
        width:100vw;
        height:40vh;
        background-color: black;
        background-image: url(../assets/phone.jpg);
        background-position: center;
        background-size: cover;
        margin-right: 0vw;
    }
    #what_we_do{
        background:white;
        padding-top: 20vh;
        padding-left:0vw;
        padding-right: 0vw;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #what_text{
        width: 90%;
        padding-left: vw;
        text-align: center;
    }
}