* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(38, 73, 110);
    color:white
}

.banner {
    display: flex;
    flex-direction: column;
    height: 25vh;
    padding-top: 12vh;

}

.banner_container {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_title {
    font-size: 25px;
    font-weight: bold;
    padding: 3vh;
    padding-top: 0;
    padding-bottom: 5vh;

}

.banner_title br {
    display: none;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.info_box {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.intro_title {
    font-size: 15px;
    font-weight: bold;
    padding: 2vh;
    align-self: center;

}

.section_intro {
    width: 100%;
    height: 50%;
}

.contact {
    font-size: 15px;
    font-weight: bold;
    padding: 2vh;
    margin-top: 3vh;
    width: 100%;
    height: 50%;

}



.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding-top: 3vh
}

@media(max-width: 800px) {

    .banner_title br {
        display: block;
    }

}