* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    
}

body {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.container{
    height:auto;
    width:100vw;
    background-color: black;
}

#content{
    padding-top:12vh;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:row;
    
}

#left{
    width:50%;
    height:100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right{
    width:50%;
    height:100%;
    background-color: white;
    display:flex;
    justify-content: left;
    align-items: center;
}

.form{
    width:60%;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) -5px 1px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left:5vw;
}
.form form{
    padding-left: 10%;
    padding-right:10%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.f_title{
    padding-top:5%;
    padding-left: 10%;
    padding-right:10%;
    font-size: 25px;
    color: black;
    font-weight: 0;
    padding-bottom:5%;
    font-family: 'DM Sans', sans-serif;
}
.label{
    font-size:16px;
    width:100%;
    padding-bottom: 3%;
    font-weight:0;
    font-family: 'DM Sans', sans-serif;
}
.inp{
    border:none;
    border-bottom: 1px solid rgb(193, 190, 190);
    width:80%;
    height: 25px;
    margin-bottom: 3%;
    font-size:16px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.5s;
}
.inp:focus{
    border:none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}
.inp:valid{
    border-bottom: 1px solid rgb(0, 0, 0);
}
#msg_inp{
    height:20vh;
    width:100%;
    display:flex;
    justify-content: start;
    align-items: top;
    padding-left: 2%;
    padding-top:2%;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    border: 1px solid rgb(193, 190, 190);
    transition: 0.5s;
    resize: none;
}
#msg_inp:focus{
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    
}
#sub{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 3vh;
    
}
form button{
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(38, 73, 110);
    color:white;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    
}

form button:hover{
    background-color: rgb(73, 113, 155);
}

#info{
    height: 80%;
    width:50%;
   
}

#contact_ti{
    font-size:35px;
    font-weight:bold;
    padding-bottom: 5vh;
    color: black;
    font-weight: bold;
}


#info_d{
    font-size:20px;
    font-weight: bold;
}

#contact_p{
    padding-bottom: 5vh;
    font-size:18px;
    font-weight: bold;
}

#info_d p{
    padding-bottom: 1vh;
    
}
#info_d p:first-child{
    color: black;

}

.form_end{
    display:flex;
    flex-direction: column;
    padding-bottom: 3vh;
}

.grecaptcha-badge { 
    visibility: hidden !important;
}
.privacy{
    padding-top: 3vh;
    font-size:14px;
    text-decoration: none;
}

.privacy a{
    text-decoration: none;
    color: rgb(38, 73, 110);
}
