.footer{
    height: 60vh;
    background-color: rgb(255, 255, 255);
    color:black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width:100vw;
}
.footer_column{
    width:33vw;
    height:60vh;
    display:flex;
    flex-direction: column;
}
.footer_column ul{
    display:flex;
    flex-direction: column;
    justify-content: initial;
}
.footer_column ul li{
    list-style: none;
    padding-bottom: 5vh;
}
.footer_column ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: 0.5s;

}
/*.footer_column img{
    max-width:100%;
    height:auto;
}*/
.foot_logo{
    height:50%;
    width:50%;
    background-image: url(../assets/logo.png);
    background-position: top;
    background-repeat: no-repeat;
    margin-top:5vh;
    background-size: 100%;
    margin-left: 5vw;

}
.footer2{
    width:100vw;
    height:3vh;
    display:flex;
    justify-content: left;
}
.credentials{
    
    padding-left: 5vw;
}

.footer_column #heading{
    font-size: 1.3rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

#contact_footer li{
    padding-bottom: 5vh;
    font-weight: 0;
    font-size:1rem;
}

.footer_header{
    padding-top: 10vh;
    padding-bottom: 7vh;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer_column ul li a:hover{
    color:rgb(153, 148, 148);
}


@media only screen and (max-width:800px){
    .footer{
        height:80vh;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }
    .footer_column{
        height: 60vh;
    }
    .foot_logo{
       width:60%;
       margin-top: 3vh;
    }
    #footer_logo{
        width:100vw;
        height:15vh;
        background-position: center;
        align-items: center;
        display:flex;
    }
    .footer_header{
        padding-top: 0vh;
        font-size: 1.2rem;
        padding-bottom: 5vh;
    }
    .footer_column ul li{
        padding-bottom: 3vh;
    }
    .footer2{
        justify-content: left;
    }
}