header{
    display: flex; 
    flex-direction: row;
    height: 12vh;
    justify-content: space-between;
    /*background-color: blue;*/
    /*border-bottom: 1px solid rgb(224, 220, 220);*/
    position: relative;
    background-color: white;
    width:100vw;
    position: fixed;
    top:0;
    z-index:100;
    /*box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);*/
    
}
ul{
    display: flex;
    flex-direction: row;
    padding-right: 2vw;
    height:100%
}
header ul li{
    list-style: none;
    padding-left: 2vw;
    padding-right: 2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
header ul li a{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    position:relative;
    
   
}
header ul li a::after{
    content:'';
    position:absolute;
    height:5px;
    left:0;
    bottom:-1.3vh;
    width:0%;
    background-color: rgb(50, 50, 52);
    transform-origin: right;
    transition: 0.4s;
}

header ul li a:hover::after {
    transform-origin:left;
    width:100%;
}
.logo{
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    /*background-color: brown;*/
    background-position: center;
    margin-left: 3vw;
   
}

.sidebar{
    display:none;
    z-index:1;
}

#menu{
    height: 4vh;
    width:4vh;
    margin-right: 5vw;
    margin-top: 4vh;
    display:none;
}
@media only screen and (max-width:800px){
    nav{
        display:none;
    }
    .logo{
        width:50%;
    }
    #menu{
        display:block;
    }
    .sidebar{
        position:fixed;
        top:12vh;
        height: 0vh;
        width: 100vw;
        z-index:20;
        transition:0.3s;
        background-color: white;
        display:block;
        z-index:0;
    }
    #side_menu{
        display:none;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    #side_menu li{
        padding: 2vh 0vw;
        border-bottom: 1px solid rgb(246, 240, 240);
        width: 90%;
        display:flex;
        justify-content: flex-start;
        
    }
    #side_menu li a{
        font-weight: 0;
        font-size:1rem;
    }
}