
*{
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    
}
body{
    overflow-x:hidden;
}
@font-face{
    font-family: "goudy";
    src: url(../assets/goudy.ttf) format('truetype')
}
.container{
    /*padding-left: 1vw;
    padding-right: 3vh;*/
    height:100vh;
    width:100vw;
    background-color: rgb(243, 244, 244);
    overflow:hidden;
}

.container-2{
    height:50vh;
    width:100vw;
    background:
    linear-gradient( 
        rgba(103, 145, 175,0.8),
        rgba(103, 145, 175,0.8)
    ),url(../assets/laptop2.jpg);
    background-position: center;
    background-size: 100vw;
}

#title2{
    text-align: center;
    width: 100vw;
    padding-top:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 2vh;
    font-weight:bold;
    color:rgb(238, 235, 235);
}

.container-3{
    height:100vh;
    width:100vw;
    background-color: rgb(38, 73, 110);
    /*background-color: rgb(158, 193, 233);*/
    color:white;
    overflow: hidden;

}
.container-4{
    height:50vh;
    width:100vw;
    background:  linear-gradient( to right,
        rgba(0, 0, 0, 0.8),
        rgba(88, 87, 87, 0.5)
      ),url(../assets/business.jpg);
    align-items: center;
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner{
    display:flex;
    flex-direction: row;
    height: 88vh;
 }
 #banner1{
    padding-top:12vh;
 }

#img1{
    background-image: 
    url(../assets/work.png);
    width: 60vw;
    background-position: center;
    padding-top:15vh;
    background-size: contain;
    margin: 15vh 5vw;
    transition: 0.5s;
    background-repeat: no-repeat;
}

#img2{
    background-image: 
    url(../assets/coding.png);
    width: 60vw;
    background-position: center;
    padding-top:15vh;
    background-size: contain;
    margin: 15vh 5vw;
    transition: 0.5s;
    background-repeat: no-repeat;
}

#img3{
    background-image: 
    url(../assets/meeting.jpg);
    width: 60vw;
    background-position: center;
    padding-top:15vh;
    background-size: contain;
    margin: 15vh 5vw;
    transition: 0.5s;
    background-repeat: no-repeat;
}

.img_container:hover{
    transform: scale(1.02);
}

.text .title{
    font-size: 3rem;
    padding-bottom: 5vh;
    font-weight:bold;
}

.text .content{
    padding-bottom: 5vh;
    font-size: 1rem;
}
.text a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1vh 2vw;
    transition: 0.5s;
    margin-right: 3vw;
    border: 2px solid black;
}

.text a:hover{
    background-color: rgb(135, 132, 132);
    border: 2px solid rgb(135, 132, 132);
}

#text1{
    width:40vw;
    align-items: center;
    text-align: left;
    padding-left: 10vw;
    padding-top: 15vh;
    
}
#text3{
    width:40vw;
    align-items: center;
    text-align: left;
    padding-right: 10vw;
    padding-top: 15vh;
    
}
#text4{
    padding-left: 10vw;
    padding-top:10vh;
    width:40vw;
    color:white;
}

#contact .content{
    font-size: 1rem;
}

.container-3 .text a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 1vh 2vw;
    transition: 0.5s;
    margin-right: 3vw;
    border: 2px solid white;
    transition: 0.5s;
}
.container-3 .text a:hover{
    background-color: white;
    color: black;
}

#links4 a{
    background-color: transparent;
    border: 2px solid white;
}

#links4 a:hover{
    background-color:white;
    color:black;
}




.container-2 .content{
    font-size: 1rem;
    color:white;
}

