* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}

body {
    overflow-x: hidden;
}

.container {
    /*padding-left: 1vw;
    padding-right: 3vh;*/

    width: 100vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#img_bgd {
    height: 40vh;
    width: 100vw;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0)), url(../assets/pexels-tranmautritam-326518.jpg);
    background-position: center;
    background-size: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_banner {
    padding-left: 10vw;
    width: 50vw;
}

#img_title {
    font-size: 50px;
    color: white;
    padding-bottom: 3vh;
    padding-top: 10vh;
}

#img_slogan {
    font-size: 18px;
    color: white;

}

.service {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.service_container {
    height: 75vh;
    width: 85vw;
    box-shadow: rgba(50, 50, 93, 0.25) 12px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    margin-top: 6vh;

}

#left {
    width: 30%;
    height: 100%;
    display: flex;
    border-right: 2px solid gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 73, 110);
    color: white;
    display:none

}

#right {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;

    flex-direction: column;

}

#service_menu {
    padding: 3vh;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
}

#service_menu li {
    margin: 3vh;

}



#service_detail {
    padding: 3vh;
    padding-left: 6vw;
    display: flex;
    flex-direction: column;
}

#service_detail li {
    margin: 2vh;
    animation: slideBack 0.3s ease forwards;
}

#service_detail li:hover {
    animation: slideLeft 0.3s ease forwards;
}

.detail_t {
    margin-bottom: 2vh;
}

#follow_up {
    margin-top: 6vh;
    border: 2px solid gray;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact_button {
    padding: 2vh;
    margin: 2vh;
    text-align: center;
    background-color: lawngreen;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    
}

#contact_button :hover {
    background-color: rgb(176, 255, 97);

}
@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10px);
    }
}


@keyframes slideBack {
    from {
        transform: translateX(-10px);
    }

    to {
        transform: translateX(0);
    }
}